---
layout: default
---

<div class="main-post-list hidden">

        <ol class="post-list">
                {% for post in paginator.posts %}
                <li>
                        <a href="{{ post.url }}" title="访问 {{ post.title }}">
                                <h2 class="post-list__post-title post-title">{{ post.title }}</h2>
                                <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
                                <div class="post-list__meta">
                                        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
                                        <img src="/images/calendar.png" width="20px" />
                                        {{ post.date | date: "%F"}}</time>
                                        <div class = "tag-img-icon">
                                                <img src="/images/tag-icon.svg" width="20px" />
                                        </div>
                                        <a href="/tags">
                                        <div class = "post-list-icon-mate">
                                                <span class="post-list__meta--tags-right">{{ post.tags }}</span>
                                        </div>
                                        <div class="post-list-small-mate">
                                                <div class = "btn-border-small">阅读全文 » </div>
                                        </div>
                                </div>
                        </a>
                </li>
                {% endfor %}
        </ol>

{% include pagination.html %}

</div>
